<footer class="footer">
  <div class="footer-main">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="https://acicts.github.io/acicts18.github.io/assets/img/AC_ACICTS_1.png" width="99px" height="60px">
        <img src="/img/bits-logo.png">
        <a href="https://replit.com" alt="hosted by replit" target="_blank"><img src="/img/replit-logo.png"></a>
      </div>
      <div class="footer-desc">
        <p>BITS is the First-Ever Task-Based Intraschool ICT competition, organized by the Ananda College ICT Society to provide a platform for our school's students to polish and improve their ICT knowledge in many fields of ICT</p>
      </div>
      <div class="footer-socials">
        <a href="https://www.instagram.com/acicts.lk" target="_blank">
          <div class="footer-social-icon">
            <i class="fa-brands fa-instagram"></i>
          </div>
        </a>
        <a href="https://www.youtube.com/user/ACICTS" target="_blank">
          <div class="footer-social-icon">
            <i class="fa-brands fa-youtube"></i>
          </div>
        </a>
        <a href="https://www.facebook.com/acicts" target="_blank">
          <div class="footer-social-icon">
            <i class="fa-brands fa-facebook"></i>
          </div>
        </a>
        <a href="https://github.com/acicts" target="_blank">
          <div class="footer-social-icon">
            <i class="fa-brands fa-github"></i>
          </div>
        </a>
        <a href="https://acicts.lk" target="_blank">
          <div class="footer-social-icon">
            <i class="fa-solid fa-globe"></i>
          </div>
        </a>
      </div>
    </div>

    <div class="footer-links footer-nav">
      <h4>Looking for something?</h4>
      <a href="/">
        <div class="footer-link <%= active == 'home' ? 'footer-active' : '' %>"><span>Home</span></div>
      </a> <a href="/tasks">
        <div class="footer-link <%= active == 'task' ? 'footer-active' : '' %>"><span>Tasks</span></div>
      </a> <a href="/quiz">
        <div class="footer-link <%= active == 'test' ? 'footer-active' : '' %>"><span>Quiz</span></div>
      </a> <a href="/leaderboard">
        <div class="footer-link <%= active == 'lead' ? 'footer-active' : '' %>"><span>Leaderboard</span></div>
      </a> <a href="/help">
        <div class="footer-link <%= active == 'help' ? 'footer-active' : '' %>"><span>Help</span></div>
      </a> <a href="/profile">
        <div class="footer-link <%= active == 'profile' ? 'footer-active' : '' %>"><span>Profile</span></div>
      </a>
    </div>
    
    <div class="footer-mascot">
      <img src="/img/mascot.svg">
    </div>
  </div>
  <div class="footer-copyright">
    <p>Copyright Reserved. ACICTS© 2022</p>
  </div>
</footer>
