<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BITS '22 | Help</title>

    <link rel="icon" type="image/x-icon" href="/img/bits-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/help.css" rel="stylesheet">
</head>
<body>
    <%- include("partials/nav", {active: "help", user: username}) %>

    <main class="main">
        <section class="support-groups">
            <header class="sg-title section-header">
                <h2>New to BITS?</h2>
                <p>Join our support groups to get announcements and support from our team!</p>
            </header>
            <div class="sg-content">
                <div class="sg-card">
                    <a href="https://chat.whatsapp.com/KoMRnloMYitCcEodEbKklB" target="_blank">
                        <div class="sg-card-icon">
                            <i class="fa-brands fa-whatsapp"></i>
                        </div>
                        <div class="sg-card-title">
                            <p>Whatsapp</p>
                        </div>
                    </a>
                </div>
                <div class="sg-card">
                    <a href="https://discord.gg/RTRKCpKpAq" target="_blank">    
                        <div class="sg-card-icon">
                            <i class="fa-brands fa-discord"></i>
                        </div>
                        <div class="sg-card-title">
                            <p>Discord</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        
        <!-- <section class="oc-members">
            <header class="oc-title section-header">
                <h2>Meet our Organising Commitee</h2>
            </header>
            <div class="oc-content">

                <%- include("partials/member_card.ejs", {name: "Pasindu Ranasinghe", desc: "Back-end Developer & Logic Tester", socials: [{name: "Whatsapp", url: "https://wa.me/94776976673", icon: "fa-brands fa-whatsapp"}] }) %>

                <%- include("partials/member_card.ejs", {name: "Minuka Gunawansa", desc: "Front-end Designer & Developer", socials: [{name: "Whatsapp", url: "https://wa.me/94777075625", icon: "fa-brands fa-whatsapp"}] }) %>
                
                <%- include("partials/member_card.ejs", {name: "Bihandu De Silva", desc: "Coding Tasks Designer", socials: [{name: "Whatsapp", url: "https://wa.me/94716071187", icon: "fa-brands fa-whatsapp"}] }) %>
                
                <%- include("partials/member_card.ejs", {name: "Anupama Dissanayake", desc: "Coding Tasks Designer", socials: [{name: "Whatsapp", url: "https://wa.me/94703319988", icon: "fa-brands fa-whatsapp"}] }) %>
                
                <%- include("partials/member_card.ejs", {name: "Ovin Perera", desc: "Posters & Trailer Visual Concept Designer", socials: [{name: "Whatsapp", url: "https://wa.me/94756691227", icon: "fa-brands fa-whatsapp"}] }) %>

                <%- include("partials/member_card.ejs", {name: "Janiru Wijekoon", desc: "Captions & Site Description Writer", socials: [{name: "Whatsapp", url: "https://wa.me/94718189436", icon: "fa-brands fa-whatsapp"}] }) %>
                
                <%- include("partials/member_card.ejs", {name: "Kavindu Maleesha", desc: "Captions Writer", socials: [{name: "Whatsapp", url: "https://wa.me/94779263248", icon: "fa-brands fa-whatsapp"}] }) %>

            </div>
        </section> -->
        
       <section class="oc-members">
            <header class="oc-title section-header">
                <h2>Contact Us</h2>
            </header>
            <div class="oc-content">

                <%- include("partials/member_card.ejs", {name: "Pasindu Ranasinghe", desc: "Organizing Team", socials: [{name: "Whatsapp", url: "https://wa.me/94776976673", icon: "fa-brands fa-whatsapp"}] }) %>

                <%- include("partials/member_card.ejs", {name: "Harshana Gunawansa", desc: "Organizing Team", socials: [{name: "Whatsapp", url: "https://wa.me/94777075625", icon: "fa-brands fa-whatsapp"}] }) %>

                <%- include("partials/member_card.ejs", {name: "Chamindu Amarasinghe", desc: "Organizing Team", socials: [{name: "Whatsapp", url: "https://wa.me/94711436311", icon: "fa-brands fa-whatsapp"}] }) %>
                
                <%- include("partials/member_card.ejs", {name: "Manula Thejan", desc: "Organizing Team", socials: [{name: "Whatsapp", url: "https://wa.me/94779761567", icon: "fa-brands fa-whatsapp"}] }) %>
                
            </div>
        </section>

        <section class="dev-members">
            <header class="oc-title section-header">
                <h2>Meet our developers of The BITS '22 site</h2>
            </header>
            <div class="oc-content">
                <%- include("partials/member_card.ejs", {name: "Pasindu Dushan", desc: "Back-end Developer & Logic Tester", socials: [{name: "Whatsapp", url: "https://wa.me/94776976673", icon: "fa-brands fa-whatsapp"}, {name: "Github", url: "https://github.com/PasinduDushan", icon: "fa-brands fa-github"}] }) %>

                <%- include("partials/member_card.ejs", {name: "Harshana Gunawansa", desc: "Front-end Designer & Developer", socials: [{name: "Whatsapp", url: "https://wa.me/94777075625", icon: "fa-brands fa-whatsapp"}, {name: "Github", url: "https://github.com/minukag", icon: "fa-brands fa-github"}] }) %>
            </div>
        </section>

        <section id="guidlines" class="guidlines info">
            <header class="gl-title section-header">
                <h2>Comepetition guidlines</h2>
            </header>
            <div class="gl-content">
                <%- include("partials/help_info_article.ejs", {title: "Valid submission Period", desc: "The competition will start at 18:00PM on 11th of October 2022 and will end at 00:00AM on 8th of November.", icon: "xmark"})%>

                <%- include("partials/help_info_article", {title: "Plagarism is prohibited", desc: "Plagiarism is strictly prohibited. Be honest with yourself and do your own work. Do not steal other people's work. Plagiarism can give you a permanent ban from BITS ‘22.", icon: "xmark"})%>
                <%- include("partials/help_info_article", {title: "Provide all the required resources", desc: 'When submitting your task, make sure to provide all the resources that are required in the task description. (Source files, links)', icon: "xmark"})%>
                    
                <%- include("partials/help_info_article", {title: 'Always set the link with the "Access to Everyone"', desc: 'When submitting files from Google Drive, make sure to set the access to “Everyone with the link” and share the link in the submission form.', icon: "xmark"})%>
                    
                <%- include("partials/help_info_article", {title: "Task review period", desc: 'After you submit a task, it normally takes around 4 to 6 days to review your task and accept it by the mentor. If your task got rejected, you will have to refer to our notes and re-submit the task again or you can move on to a new task. You can submit multiple tasks at once.', icon: "xmark"})%>
                    
                <%- include("partials/help_info_article", {title: "Any more questions?", desc: 'If you have any problems regarding BITS, please drop a message in the Official Whatsapp group. If you do not find an answer from there within a day or two, then you can move to the option of calling one of the organizers in the contact section above. When contacting mentors feel free to use a language of your choice,You can use both Sinhala or English. Please be respectful and professional when talking in official help groups.', icon: "xmark"})%>
                    
            </div>
        </section>
        
        <!-- <section id="faq" class="faq info">
            <header class="gl-title section-header">
                <h2>Frequently Asked Questions</h2>
            </header>
            <div class="gl-content">
                <%- include("partials/help_info_article.ejs", {title: "What is BITS?", desc: "BITS is a task-based competition. Learn more in the home page", icon: "question"})%>

                <%- include("partials/help_info_article.ejs", {title: "What is coding?", desc: "Coding is the act of coding a code", icon: "question"})%>
            </div>
        </section> -->
    </main>

    <%- include("partials/footer", { active: "help" }) %>
</body>
</html>
