<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BITS'22 | Leaderboard</title>
    <link rel="icon" type="image/x-icon" href="/img/bits-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/leaderboard.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/nav", { active: "lead" , user: username}) %>

    <main class="main">
      <section class="leaderboard">
        <div class="thead">
          <p class="tfield-rank">#</p>
          <p class="tfield-name">Name</p>
          <p class="tfield-grade">Class</p>
          <p class="tfield-tasks">No. Of Tasks Accepted</p>
          <p class="tfield-points">Points</p>
        </div>
        <table>
          <tbody>
            <%db.forEach(function(data) { %>
            <tr>
              <th class="tfield-rank"><%= i++ %></th>
              <td class="tfield-name"><%= data.same[0].username %></td>
              <td class="tfield-grade"><%= String(data.same[0].grade).replace(/1000/g, ' ') %></td>
              <td class="tfield-tasks"><%= data.approved_tasks.length %></td>
              <td class="tfield-points"><%= data.total_points %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </main>
    
    <%- include("partials/footer", { active: "lead" }) %>
    
        <script>

        var INITIAL_WAIT = 3000;
        var INTERVAL_WAIT = 10000;
        var ONE_SECOND = 1000;

        var events = ["mouseup", "keydown", "scroll", "mousemove"];
        var startTime = Date.now();
        var endTime = startTime + INITIAL_WAIT;
        var totalTime = 0;
        var clickCount = 0;
        var buttonClicks = {
            total: 0,
        };
        var buttonClickCount = 0;
        var linkClickCount = 0;
        var keypressCount = 0;
        var scrollCount = 0;
        var mouseMovementCount = 0;
        var linkClickCount = 0;

        setInterval(function () {
            if (!document.hidden && startTime <= endTime) {
                startTime = Date.now();
                totalTime += ONE_SECOND;
                document.getElementById("timer").innerHTML = formatTime(totalTime);
            }
        }, ONE_SECOND);

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("page").innerHTML = window.location.pathname;
            events.forEach(function (e) {
                document.addEventListener(e, function () {
                    endTime = Date.now() + INTERVAL_WAIT;
                    if (e === "mouseup") {
                        clickCount++;
                        document.getElementById("click").innerHTML = clickCount;
                        if (event.target.nodeName === 'BUTTON') {
                            if (!buttonClicks[event.target.innerText]) {
                                buttonClicks[event.target.innerText] = 0;
                            }
                            buttonClicks[event.target.innerText] += 1;
                            buttonClicks.total += 1;
                            document.getElementById("button").innerHTML = JSON.stringify(buttonClicks, null, 2);
                        }
                        else if (event.target.nodeName === 'A') {
                            linkClickCount++;
                            document.getElementById("link").innerHTML = linkClickCount;
                        }
                    }
                    else if (e === "keydown") {
                        keypressCount++;
                        document.getElementById("keypress").innerHTML = keypressCount;
                    }
                    else if (e === "scroll") {
                        scrollCount++;
                        document.getElementById("scroll").innerHTML = scrollCount;
                    }
                    else if (e === "mousemove") {
                        mouseMovementCount++;
                        document.getElementById("mouse").innerHTML = mouseMovementCount;
                    }
                });
            });
        });


        function formatTime(ms) {
            return Math.floor(ms / 1000);
        }

        window.addEventListener('beforeunload', function (e) {
            // e.preventDefault();
            // e.returnValue = '';
            const data = { 
                timeSpend: totalTime,
                totalClicks: clickCount,
                totalButtonClicks: buttonClicks,
                totalButtonClickCount: buttonClickCount,
                totalLinkClickCount: linkClickCount,
                totalKeypressCount: keypressCount,
                totalScrollCount: scrollCount,
                totalMouseMovementCount: mouseMovementCount
             };

            fetch('/update', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    </script>

  </body>
</html>
