<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BITS '22 | Tasks</title>
  <link rel="icon" type="image/x-icon" href="/img/bits-logo.png">

  <link rel="stylesheet" href="./css/sweetalert2.min.css">
  <script src="./js/sweetalert2.min.js"></script>
  <script src="./js/functions.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="/css/onlinetests.css" rel="stylesheet">
</head>

<body>
  <%- include('partials/nav', {active: "test" , user: username}) %>
    <main class="main">
      <section class="tasks">
        <div class="task-list">
          <% filteredQuiz.forEach(function(data) { %>
          <div class="task-item">
            <div class="ti-bg-acnt tibg-tr"></div>
            <div class="ti-bg-acnt tibg-bl"></div>
            
              <div class="ti-info">
                <h4>
                  <%= data.test_name %>
                </h4>
                <p>
                  <%= data.test_description %>
                </p><br>
                <p><i class="fa-solid fa-calendar-days"></i>&nbsp;Test Date: <%= data.createdAt %>
                </p>
              </div>
              <% if(data.test_enabled){ %>
                <form action="/test/submit" method="post" onsubmit="return submitForm2(this);">
                  <input type="hidden" id="link" name="link" value="<%= data.test_link %>" />
                  <input type="hidden" id="name" name="name" value="<%= data.test_name %>" />
                  <input type="hidden" id="id" name="id" value="<%= data.test_id %>" />
                  <div class="ti-cta" style="display: flex;">
                    <input type="submit" value="Start the Quiz" class="start-quiz-input"></input><br><br>
                  </div>
                </form>
                <% } else { %>
                <form>
                  <div class="ti-cta" style="display: flex;">
                    <input type="submit" value="Start the Quiz" class="start-quiz-input start-quiz-disabled" disabled></input><br><br>
                  </div>
                </form>
                <% } %>
                    
          </div>
        </div>
        </div>
        <% }) %>
        </div>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

    <%- include("partials/footer", { active: "test" }) %>
        <script>

        var INITIAL_WAIT = 3000;
        var INTERVAL_WAIT = 10000;
        var ONE_SECOND = 1000;

        var events = ["mouseup", "keydown", "scroll", "mousemove"];
        var startTime = Date.now();
        var endTime = startTime + INITIAL_WAIT;
        var totalTime = 0;
        var clickCount = 0;
        var buttonClicks = {
            total: 0,
        };
        var buttonClickCount = 0;
        var linkClickCount = 0;
        var keypressCount = 0;
        var scrollCount = 0;
        var mouseMovementCount = 0;
        var linkClickCount = 0;

        setInterval(function () {
            if (!document.hidden && startTime <= endTime) {
                startTime = Date.now();
                totalTime += ONE_SECOND;
                document.getElementById("timer").innerHTML = formatTime(totalTime);
            }
        }, ONE_SECOND);

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("page").innerHTML = window.location.pathname;
            events.forEach(function (e) {
                document.addEventListener(e, function () {
                    endTime = Date.now() + INTERVAL_WAIT;
                    if (e === "mouseup") {
                        clickCount++;
                        document.getElementById("click").innerHTML = clickCount;
                        if (event.target.nodeName === 'BUTTON') {
                            if (!buttonClicks[event.target.innerText]) {
                                buttonClicks[event.target.innerText] = 0;
                            }
                            buttonClicks[event.target.innerText] += 1;
                            buttonClicks.total += 1;
                            document.getElementById("button").innerHTML = JSON.stringify(buttonClicks, null, 2);
                        }
                        else if (event.target.nodeName === 'A') {
                            linkClickCount++;
                            document.getElementById("link").innerHTML = linkClickCount;
                        }
                    }
                    else if (e === "keydown") {
                        keypressCount++;
                        document.getElementById("keypress").innerHTML = keypressCount;
                    }
                    else if (e === "scroll") {
                        scrollCount++;
                        document.getElementById("scroll").innerHTML = scrollCount;
                    }
                    else if (e === "mousemove") {
                        mouseMovementCount++;
                        document.getElementById("mouse").innerHTML = mouseMovementCount;
                    }
                });
            });
        });


        function formatTime(ms) {
            return Math.floor(ms / 1000);
        }

        window.addEventListener('beforeunload', function (e) {
            // e.preventDefault();
            // e.returnValue = '';
            const data = { 
                timeSpend: totalTime,
                totalClicks: clickCount,
                totalButtonClicks: buttonClicks,
                totalButtonClickCount: buttonClickCount,
                totalLinkClickCount: linkClickCount,
                totalKeypressCount: keypressCount,
                totalScrollCount: scrollCount,
                totalMouseMovementCount: mouseMovementCount
             };

            fetch('/update', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>
